body {
    background-color: #120F2D;
    font-family: Poppins, sans-serif;
    color: #DEDEDD;
    margin: 0;
    padding: 0;
}

/* Style pour l'accueil */

header, .home {
    position: relative;
    z-index: 2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.burger-menu {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #DEDEDD;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-grow: 2;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.menu ul li {
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.menu ul li:hover, .flag:hover {
    transform: scale(1.05);
}

.menu ul li:first-child {
    margin-right: auto;
}

.menu ul a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1vw;
    color: #DEDEDD;
}

.flag {
    width: 25px;
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

/* Style pour les compétences */

.competences {
    background-color: #151F50;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 80px;
}

.competences h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.competences h3 {
    font-size: 1.5rem;
}

.competence-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    z-index: 0;
}

.competence {
    background-color: #25336E;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    flex: 1 1 800px;
}

.competence::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    background-color: #8474B7;
    z-index: -1;
    border-radius: 10px;
}

.competence ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 0;
    width: 100%;
    justify-content: center;
}

.competence ul li {
    padding: 10px;
    max-width: 100px;
}

.competence-icon {
    background-color: #8474B7;
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 15%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.competence-icon:hover {
    transform: scale(1.1);
}

/* Style pour le footer */

footer {
    text-align: center;
    padding: 30px;
}