body {
    background-color: #120F2D;
    font-family: Poppins, sans-serif;
    color: #DEDEDD;
    margin: 0;
    padding: 0;
}

/* Style pour l'accueil */

.background-container {
    position: relative;
    background-image: url('/images/banner.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 15, 45, 0.8);
    z-index: 1;
}

header, .home {
    position: relative;
    z-index: 2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.burger-menu {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #DEDEDD;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-grow: 2;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.menu ul li {
    margin: 20px;
}

.menu ul li:first-child {
    margin-right: auto;
}

.menu ul a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1vw;
    color: #DEDEDD;
}

.flag {
    width: 25px;
    height: auto;
    margin-right: 20px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}

.home h1 {
    font-size: clamp(3rem, 8vw, 10rem);
    margin: 0;
    padding: 0;
}

.home h3 {
    font-size: clamp(1.5rem, 3vw, 4rem);
    margin: 0;
    padding: 0;
}

.home h5 {
    font-size: clamp(1rem, 2vw, 2.5rem);
    margin: 0;
    padding: 0;
}

.purple {
    color: #8474B7;
}

/* Style pour la présentation */

.presentation {

    background-color: #151F50;
}

.presentation-items {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 150px;
    position: relative;
    z-index: 0;
}

.image-presentation {
    position: relative;
}

.image-presentation::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 25px;
    width: 100%;
    height: 100%;
    background-color: #8474B7;
    z-index: 0;
    border-radius: 10px;
}

.image-presentation img {
    background-color: #25336E;
    height: 520px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.text-presentation {
    position: relative;
    background-color: #25336E;
    width: 970px;
    padding: 20px;
    border-radius: 10px;
}

.text-presentation::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 25px;
    width: 100%;
    height: 100%;
    background-color: #8474B7;
    z-index: -1;
    border-radius: 10px;
}

.text-presentation h2 {
    font-size: 2rem;
    text-align: center;
}

.text-presentation h4 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

.text-presentation p {
    font-size: 1.1rem;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

/* Style pour les réalisations */

.realisations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 100px;
}

.realisations h2 {
    font-size: 2rem;
}

.realisations a {
    text-decoration: none;
    color: #DEDEDD;
}

.realisation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.realisation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 350px;
}

.realisation-item:hover {
    transform: translateY(-10px);
}

.realisation img {
    width: 90%;
    border-top: 15px solid #8474B7;
    border-left: 15px solid #8474B7;
    border-right: 15px solid #8474B7;
    border-radius: 30px 30px 0 0;
}

.realisation-infos {
    display: flex;
    flex-direction: column;
    background-color: #25336E;
    border-radius: 0 0 20px 20px;
    padding: 5px 15px 15px;
    width: 100%;
    box-sizing: border-box;
}

.realisation-head {
    display: flex;
}

.realisation-infos h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.description {
    font-style: italic;
}

.category {
    background-color: #8474B7;
    text-align: center;
    width: 100px;
    padding: 8px;
    border-radius: 10px;
    margin-left: auto;
    font-weight: bold;
}

.button {
    background-color: #5299E9;
    color: #DEDEDD;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.button:hover {
    transform: translateY(-5px);
}

/* Style pour les compétences */

.competences {
    background-color: #151F50;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px;
}

.competences h2 {
    font-size: 2rem;
}

.competence-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    z-index: 0;
}

.competence {
    background-color: #25336E;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: 350px;
}

.competence::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 25px;
    width: 100%;
    height: 100%;
    background-color: #8474B7;
    z-index: -1;
    border-radius: 10px;
}

.competence ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;
    width: 100%;
    justify-content: center;
}

.competence ul li {
    padding: 10px;
    flex: 1 1 50%;
    max-width: 80px;
}

.competence-icon {
    background-color: #8474B7;
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 15%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.competence-icon:hover {
    transform: scale(1.1);
}

/* Style pour les formations et expériences */

.formations-experiences {
    display: flex;
    justify-content: space-between;
    padding: 150px 250px;
    position: relative;
}

.formation, .experiences {
    width: 40%;
}

.formation {
    height: 100%;
}

.formation-item {
    margin-bottom : 90px
}

.experience-item {
    margin-bottom : 50px
}

.formation h2, .experiences h2 {
    font-size: 2rem;
    margin-bottom: 100px;
}

.formation-item, .experience-item {
    position: relative;
    background-color: #25336E;
    padding: 25px 50px 25px 40px;
    border-radius: 10px;
}

.formation-item::before, .experience-item::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 25px;
    width: 100%;
    height: 100%;
    background-color: #8474B7;
    z-index: -1;
    border-radius: 10px;
}

.formation::before, .experiences::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px; /* Adjust the width of the line as needed */
    background-color: white; /* Color of the line */
    z-index: -2; /* Ensure it is behind the items */
}

.formation::before {
    left: 20%; /* Position the line in the middle of the formation section */
    margin-top: 300px;
    height: 800px;
}

.experiences::before {
    left: 65%; /* Position the line in the middle of the experiences section */
    margin-top: 300px;
    height: 1000px;
}

.formation-item h3, .experience-item h3 {
    font-size: 1.2rem;
    margin: 0;
}

.dates, .lieu {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dates {
    font-size: 1.1rem;
}

.formation-item h4 {
    margin-bottom: 0;
}

.formation-item p, .formation-item ul {
    margin-top: 5px;
}

@media (max-width: 1000px) {

    /* Style pour l'accueil */

    .burger-menu {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }

    .menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu ul li {
        margin: 10px 0;
    }

    .menu ul a {
        font-size: 2.5vw;
    }

    /* Style pour la présentation */

    .presentation {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin: 50px;
    }

    .image-presentation img {
        height: auto;
        width: 100%;
    }

    .text-presentation {
        width: 100%;
        padding: 15px;
    }

    .text-presentation h2 {
        font-size: 1.5rem;
    }

    .text-presentation h4 {
        font-size: 1.2rem;
    }

    .text-presentation p {
        font-size: 1rem;
    }

    /* Style pour les réalisations */

    .realisation {
        flex-direction: column;
        align-items: center;
    }

    .realisation-item {
        width: 100%;
        max-width: 100%;
    }
}