/* Style global */

body {
    background-color: #120F2D;
    font-family: Poppins, sans-serif;
    color: #DEDEDD;
    margin: 0;
    padding: 0;
}

/* Style du menu */

header, .home {
    position: relative;
    z-index: 2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.burger-menu {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #DEDEDD;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-grow: 2;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.menu ul li {
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.menu ul li:hover, .flag:hover {
    transform: scale(1.05);
}

.menu ul li:first-child {
    margin-right: auto;
}

.menu ul a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1vw;
    color: #DEDEDD;
}

.flag {
    width: 25px;
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

/* Style de l'accueil */

.background-container {
    position: relative;
    background-image: url('media/banner.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 15, 45, 0.5);
    z-index: 1;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}

.home h1 {
    font-size: clamp(3rem, 8vw, 10rem);
    margin: 0;
    padding: 0;
}

.home h3 {
    font-size: clamp(1.5rem, 3vw, 4rem);
    margin: 0;
    padding: 0;
}

.home h5 {
    font-size: clamp(1rem, 2vw, 2.5rem);
    margin: 0;
    padding: 0;
}

.button-cv {
    margin-top: 30px;
}

.purple {
    color: #8474B7;
}

/* Style pour la présentation */

.presentation {
    background-color: #151F50;
}

.presentation-items {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 150px;
    position: relative;
    z-index: 0;
}

.presentation-image {
    position: relative;
    height: 100%;
}

.presentation-image::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    background-color: #8474B7;
    z-index: 0;
    border-radius: 10px;
}

.presentation-image img {
    background-color: #25336E;
    height: 520px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.presentation-text {
    position: relative;
    background-color: #25336E;
    width: 970px;
    padding: 20px;
    border-radius: 10px;
}

.presentation-text::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    background-color: #8474B7;
    z-index: -1;
    border-radius: 10px;
}

.presentation-text h2 {
    font-size: 2rem;
    text-align: center;
}

.presentation-text h4 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

.presentation-text p {
    font-size: 1.1rem;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

/* Style pour les formations et les expériences */

.formations-experiences {
    display: flex;
    justify-content: space-between;
    padding: 80px 200px;
    position: relative;
}

.formation, .experiences {
    width: 40%;
}

.formation {
    height: 100%;
}

.formation-item {
    margin-bottom : 90px
}

.experience-item {
    margin-bottom : 50px
}

.formation h2, .experiences h2 {
    font-size: 2rem;
    margin-bottom: 100px;
}

.formation-item, .experience-item {
    position: relative;
    background-color: #25336E;
    padding: 25px 50px 25px 40px;
    border-radius: 10px;
}

.formation-item::before, .experience-item::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    background-color: #8474B7;
    z-index: -1;
    border-radius: 10px;
}

.formation::before, .experiences::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: white;
    z-index: -2;
}

.formation::before {
    left: 20%;
    margin-top: 300px;
    height: 800px;
}

.experiences::before {
    left: 65%;
    margin-top: 300px;
    height: 800px;
}

.formation-item h3, .experience-item h3 {
    font-size: 1.2rem;
    margin: 0;
}

.dates, .lieu {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dates {
    font-size: 1.1rem;
}

.formation-item h4 {
    margin-bottom: 0;
}

.formation-item p, .formation-item ul {
    margin-top: 5px;
}

/* Style pour les compétences */

.competences {
    background-color: #151F50;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 80px;
}

.competences h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.competences h3 {
    font-size: 1.5rem;
}

.competences-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    z-index: 0;
}

.competence-item {
    background-color: #25336E;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.competence-list {
    background-color: #25336E;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    padding: 20px;
}

.competence-item::before,
.competence-list::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    background-color: #8474B7;
    z-index: -1;
    border-radius: 10px;
}

.competence-item ul,
.competence-list ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 0;
    width: 100%;
    justify-content: center;
}
.competence-item ul li,
.competence-list ul li {
    padding: 10px;
    max-width: 100px;
}

.competence-icon {
    background-color: #a298c3;
    padding: 15px;
    width: 100%;
    height: auto;
    border-radius: 15%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.competence-icon:hover {
    transform: scale(1.1);
}

/* Style pour les réalisations */

.realisations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 80px;
}

.realisations-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 80px 0;
    background-color: #151F50;
    width: 100%;
}

.realisations-all h2,
.realisations h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.realisations-all a,
.realisations a {
    text-decoration: none;
    color: #DEDEDD;
}

.realisations-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.realisation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 450px;
}

.realisation-item:hover {
    transform: translateY(-10px);
}

.realisations-items img {
    width: 92%;
    object-fit: cover;
    border-top: 15px solid #8474B7;
    border-left: 15px solid #8474B7;
    border-right: 15px solid #8474B7;
    border-radius: 30px 30px 0 0;
}

.realisation-infos {
    display: flex;
    flex-direction: column;
    background-color: #25336E;
    border-radius: 0 0 20px 20px;
    padding: 5px 15px 15px;
    width: 100%;
    box-sizing: border-box;
    height: 150px;
}

.realisation-head {
    display: flex;
}

.realisation-infos h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.description {
    font-style: italic;
    margin-top: 0;
}

.category {
    background-color: #8474B7;
    text-align: center;
    width: 100px;
    padding: 8px;
    border-radius: 10px;
    margin-left: auto;
    font-weight: bold;
}

.button {
    background-color: #5299E9;
    color: #DEDEDD;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}

/* Style pour les contacts */

.contacts {
    background-color: #151F50;
    padding: 100px;
}

.contact-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.contact-item {
    background-color: #25336E;
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}

.contact-item:hover {
    transform: translateY(-5px);
}

.contacts h2 {
    font-size: 2rem;
    margin: 0 auto 25px 200px;
}

a {
    text-decoration: none;
    color: #DEDEDD;
}

.contact-item img {
    height: 30px;
    width: 30px;
}

.contact-item p {
    margin: 0;
    font-weight: bold;
}

/* Style du footer */

footer {
    text-align: center;
    padding: 30px;
}

/* Style responsive */

@media (max-width: 1000px) {
    .burger-menu {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }

    .menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu ul li {
        margin: 10px 0;
    }

    .menu ul a {
        font-size: 2.5vw;
    }

    .home h1 {
        font-size: 5rem;
    }

    .home h3 {
        font-size: 2rem;
    }

    .home h5 {
        font-size: 1.5rem;
    }

    .presentation-items {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 50px;
    }

    .presentation-image img {
        height: auto;
        width: 100%;
    }

    .presentation-text {
        width: 100%;
        padding: 15px;
    }

    .presentation-text h2 {
        font-size: 1.5rem;
    }

    .presentation-text h4 {
        font-size: 1.2rem;
    }

    .presentation-text p {
        font-size: 1rem;
    }

    .formations-experiences {
        flex-direction: column;
        padding: 50px;
    }

    .formation, .experiences {
        width: 100%;
    }

    .formation::before {
        left: 150px;
    }

    .experiences::before {
        top: 1200px;
        left: 150px;
    }

    .competences-items {
        flex-direction: column;
        align-items: center;
    }

    .competence-item {
        max-width: 100%;
    }

    .contacts h2 {
        margin: 0 auto 25px;
    }
}

/* Animation d'apparition au fur et à mesure */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}